html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.btn {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  background-color: #FEA82F;
  padding: 0.5em 2.5em;
  border-radius: 18px;
  width: 6%;
  margin: 0 auto;
}
body {
  font-family: 'Oxygen', sans-serif;
}
.mainPage {
  background-color: #586F7C;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav a {
  text-decoration: none;
  color: #FEA82F;
  font-size: 18px;
  border: 2px solid black;
}
@media (min-width:500px) {
  .nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.btn {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  box-shadow: 0 8px 16px 0 grey;
}
.top-content {
  border: 2px solid lightskyblue;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width:500px) {
  .top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid green;
  }
}
.pic1,
.pic2,
.pic3 {
  border: 2px solid orange;
  padding: 5%;
  width: 30%;
  object-fit: fill;
  display: flex;
  justify-content: center;
}
.pic1 img,
.pic2 img,
.pic3 img {
  border-radius: 8px;
  object-fit: fill;
}
@media (min-width:500px) {
  .pic1 img,
  .pic2 img,
  .pic3 img {
    width: 80%;
  }
}
.middle-content {
  width: 70%;
}
.top {
  padding: 5%;
}
.mid {
  padding: 5%;
}
.lower {
  padding: 5%;
}
.see {
  padding: 3%;
}
.list {
  padding: 5%;
}
.pic4 {
  border: 2px solid orange;
  width: 70%;
  padding: 5% 15%;
  object-fit: fill;
  display: flex;
  justify-content: space-evenly;
}
.pic4 img {
  border-radius: 8px;
}
.next a {
  text-decoration: none;
  color: #2A2D34;
  font-size: 2rem;
}
.teamPage {
  background-color: #586F7C;
}
.build {
  color: #2A2D34;
  font-size: 2rem;
  text-align: center;
}
.team {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10%;
}
.kevin,
.josh,
.fran,
.aric,
.angelique {
  object-fit: fill;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
}
.kevin img,
.josh img,
.fran img,
.aric img,
.angelique img {
  width: 70%;
  border-radius: 8px;
  object-fit: fill;
}
.kevin img p,
.josh img p,
.fran img p,
.aric img p,
.angelique img p {
  margin: 5%;
}
.back a {
  text-decoration: none;
  color: #2A2D34;
  font-size: 2rem;
}
