body {
    font-family: @mainFont;
}
.nav {
    border: 2px solid black;
}

.btn {
    border: 2px solid black;

}

.top-content {
    border: 2px solid lightskyblue; 
    // margin: 0 auto;
    // padding: 50%;
    display: flex;
    justify-content: space-between;

}

.pic1, .pic2, .pic3 {
    border: 2px solid orange;
    // margin: 0 auto;
    // padding: 50%;
    width:300px;
    // border-radius: 8px;
    // height:200px;
    // max-width: 10%;
    // height:50px;
    object-fit: fill;
    display: flex;
    justify-content: center;

    img {
    // margin: 0 auto;
    // padding: 50%;
    // width:300px;
    border-radius: 8px;
    height:200px;
    object-fit: fill;
    }
}

// .pic2 {
//     border: 2px solid pink;
//     // margin: 0 auto;
//     // padding: 50%;
//     // width:300px;
//     // border-radius: 8px;
//     // height:200px;
//     // max-width: 10%;
//     // height:50px;
// //     object-fit: scale-down;
//  }

// .pic3 {
//     border: 2px solid limegreen;
//     // margin: 0 auto;
//     // padding: 50%;
//     // width:300px;
//     // border-radius: 8px;
//     // height:200px;
//     max-width: 10%;
//     height:50px;
//     // object-fit: scale-down;
// }

// .middle-content {

// }

// .top {

// }

// .mid {

// }

// .lower {

// }

// .bottom-content {

// }
// .see {

// }
// .list {

// }

// .footer {

// }

// .next {

// }

// .about {

// }

// .team {

// }

// .josh {

// }

// .fran {

// }

// .kevin {

// }

// .aric {

// }

// .angelique {

// }

// .back {

// }