body {
    font-family: @mainFont;
}

.mainPage {
    background-color: #586F7C;
}

.top-content {
    // border: 2px solid lightskyblue; 
    .between();
    .display(center, center, column);
    @media @mobile {
        .display(center, center, row);
        // border: 2px solid green;
     }
}

.pic1, .pic2, .pic3 {
    // border: 2px solid orange;
    padding: @p;
    width:55%;
    .center();
    img {
    @media @mobile {width: 80%;}
    border-radius: 8px;
    object-fit: fill;
    }
}

.middle-content {
    // border: 2px solid tomato;
    padding: 2%;
    .between();
    .display(center, center, column);
    @media @mobile {
    .display(center, center, row);
    // border: 2px solid green;
    }
}

.top, .mid, .lower {
    padding: @p;
}

.see {
    padding: 2% 10%;
    
}

.list{
    padding: @p;
    .evenly();
}

.pic4 {
    width:70%;
    padding: @p 15%;
    object-fit: fill;
    .evenly();

    img {
    border-radius: 8px;
    } 
}

.footer {
    a{
    text-decoration: none;
    color: #FEA82F;
    font-size: 18px;
    padding: @p;
    }
    @media @mobile {.display(center, center, row);}
}

.next {
    a{
    text-decoration: none;
    color: #2A2D34;
    font-size: 2rem;
    padding-right: @p;
    display: flex;
    justify-content: flex-end;
    }
}

.teamPage {
    background-color: #586F7C;
}

.build {
    color: #2A2D34;
    font-size: 2rem;
    text-align: center; 
}

.team {
    .between();
    flex-direction: column;
    margin: 10%;   
}

.kevin, .josh, .fran, .aric, .angelique {
    .center();
    flex-direction: column;
    margin: 5%;
    img {
        @media @mobile {
            width: 40%;
        }
        margin-bottom: 5%;
        width:70%;
        border-radius: 8px;
        object-fit: fill;
        p {
            margin: 5%;
        }
    }
}

.back {
    a{
    text-decoration: none;
    color: #2A2D34;
    font-size: 2rem;
    }
}